/*--- Colores ---*/
$color1: #FAF6E9;
$color2: #ECE8D9;
$color3: #FFFDF6;
$color4: #494949;
$color5: #D9E4DD;
$color6: #FBF7F0;
$color7: #CDC9C3;
$color8: #555555;
$color9: #F4BFBF;
$color10: #FFD9C0;
$color11: #FAF0D7;
$color12: #8CC0DE;
$color13: #FFEEEE;
$color14: #F7E9D7;
$color15: #EBD8C3;
$color16: #DAB88B;
$color17: #F3E9DD;
$color18: #FDF6EC;
$color19: #B7CADB;
$color20: #FFEDDB;
$color21: #EDCDBB;
$color22: #E3B7A0;
$color23: #070707;